body {
  font-family: "Oswald", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 75px 0;
  min-height: 80vh;
  background: #fabc28;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-text {
  width: 25%;
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.hero-images {
  text-align: center;
}

.image-macbook {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.image-macbook img {
  width: 100%;
}

.project {
  position: absolute;
  width: 70%;
  height: 420px;
  max-height: 100%;
  left: 0;
  right: 10px;
  top: 30px;
  margin: auto;
}

.img-project {
  position: relative;
  height: 100%;
  max-height: 100%;
}

.img-project span {
  background-image: url("../images/project-rosava.png");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: all 5s ease-out 0s;
  cursor: pointer;
}

.img-project:hover span {
  background-position: center 100%;
}

.image-iphone {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.mob-project {
  position: absolute;
  width: 90%;
  height: 560px;
  max-height: 100%;
  left: 0;
  right: 0px;
  top: 60px;
  margin: auto;
}

.mob-img {
  position: relative;
  height: 100%;
  max-height: 100%;
}

.mob-img span {
  background-image: url("../images/mobile-version.png");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: all 8s ease-out 0s;
}

.mob-img:hover span {
  background-position: center 100%;
}
